
<div class="ui container">
  <br>
  <h1 class="ui header" >Editing Book</h1>
  <hr>
  <br>
<%= render 'form', book: @book %>
<%= link_to 'Show', @book,  class: 'ui button huge'%> 
<%= link_to 'Back', books_path, class: 'ui button huge' %>
<hr>

</div>
